<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте.</h1>
    <p>
      <% if @is_confirm %>
        Почта подтверждена
      <% else %>
        Ссылка не действительна
      <% end %>
    </p>
  </body>
</html>